body {
  background-color: black;
  font-family: 'Bebas Neue', sans-serif;
  margin: 0; /* Remove default body margin */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.square {
  width: 100px; /* Adjust square size as needed */
  height: 100px; /* Adjust square size as needed */
  background-color: #000000;
  margin: 10px; /* Add spacing between squares */
}

h1 {
  font-size: larger;
  letter-spacing: 0.5em;
  color: red;
  margin: 0; /* Remove margin to ensure proper alignment */
}

h2 {
  display: flex;
  font-size: 1.8em;
  align-items: center;
  justify-content: center;
  height: 30vh;
  letter-spacing: 0.1em;
  color: white;
  margin: 0; /* Remove margin to ensure proper alignment */
}

h3 {
  display: flex;
  font-size: 0.95em;
  font-weight: 110;
  align-items: center;
  justify-content: center;
  color: white;
  margin: 0; /* Remove margin to ensure proper alignment */
}

.profile {
  width: 30%;
  position: relative; /* To allow positioning of profile images */
}

.profile-image {
  position: absolute;
  top: -120px; /* Adjust the vertical position of the image */
  left: 50%; /* Center the image horizontally */
  transform: translateX(-50%); /* Center the image horizontally */
}
